.calendar-range {
    display: flex;
    justify-content: center;
    margin: 1rem auto;
}

.selected-date-range-label {
    font-size: 1rem;
    text-align: center;
}

.select-date-range-label {
    @media (max-width: 767px) {
        font-size: 1rem;
    }
    @media (min-width: 768px) {
        font-size: 1.4rem;   
    }
}