.form-input-one {
    margin: 1rem;
}

.blood-pressure-input {
    display: flex;
    justify-items: flex-start;
}

.profile-header-label {
    @media (max-width: 767px) {
        font-size: 1.4rem;
        line-height: 1.25;
    }
}

.type-of-chronic-disease-label {
    @media (max-width: 767px) {
        font-size: 0.8rem;
    }
}

.blood-pressure-systole-input, .blood-pressure-diastole-input {
    @media (min-width: 768px) {
        width: 30rem;
    }
}

mat-form-field {
    margin-left: 1rem;
    width: 50%;
    border-radius: 0.75rem;
    margin-top: 1rem;
    padding: 0 1rem;
}

::placeholder {
    color: white;
}

.hint-text {
    font-style: italic;
    font-size: 11px;
    color: green;
}

.save-profile-info {
    text-align: center;
    margin: 1rem auto;
}

.save-profile-info-btn {
    @media (min-width: 767px) {
        width: 35rem;
    }
}