<!-- <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Remote Health Monitor</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a>
          </li>
        </ul>
      </div>
    </div>
</nav> -->

<header class="masthead bg-success text-white text-center">
    <div class="container d-flex align-items-center flex-column">

        <!-- Masthead Avatar Image -->
        <img class="masthead-avatar mb-5" src="assets/avataaars.svg" alt="">

        <!-- Masthead Heading -->
        <h1 class="masthead-heading text-uppercase mb-0">REMOTE HEALTH MONITORING</h1>

        <!-- Icon Divider -->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

    </div>
</header>

<section class="page-section portfolio" id="portfolio">
    <div class="container">

        <!-- Portfolio Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Quick Links</h2>

        <!-- Icon Divider -->
        <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
            <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
        </div>

        <!-- Portfolio Grid Items -->
        <div class="row">

        <!-- Portfolio Item 1 -->
        <div class="col-md-6 col-lg-6">
            <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="portfolio-item-caption-content text-center text-white">
                    <span>Live Tracking</span>
                </div>
            </div>
            <img class="img-fluid landing-icons" src="assets/icons/health-tracker.jpg" alt="">
            </div>
        </div>

        <!-- Portfolio Item 2 -->
        <div class="col-md-6 col-lg-6">
            <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="portfolio-item-caption-content text-center text-white">
                        <span>Health Reports</span>
                </div>
            </div>
            <img class="img-fluid landing-icons" src="assets/icons/health-reports.jpg" alt="">
            </div>
        </div>

        <!-- Portfolio Item 3 -->
        <div class="col-md-6 col-lg-6">
            <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="portfolio-item-caption-content text-center text-white">
                    <span>My Profile</span>
                </div>
            </div>
            <img class="img-fluid landing-icons" src="assets/icons/my-profile.png" alt="">
            </div>
        </div>

        <!-- Portfolio Item 4 -->
        <div class="col-md-6 col-lg-6">
            <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal4">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="portfolio-item-caption-content text-center text-white">
                    <span>Live Chat!</span>
                </div>
            </div>
            <img class="img-fluid landing-icons" src="assets/icons/chatbot.png" alt="">
            </div>
        </div>

        </div>
        <!-- /.row -->

    </div>
</section>

<section class="page-section bg-success text-white mb-0" id="about">
    <div class="container">

        <!-- About Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>

        <!-- Icon Divider -->
        <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
            <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
        </div>

        <!-- About Section Content -->
        <div class="row">
        <div class="col-lg-4 ml-auto">
            <p class="lead">Remote Health Monitoring is a personalized application used for tracking results out of basic health checks on a timely basis.</p>
        </div>
        <div class="col-lg-4 mr-auto">
            <p class="lead"><i>Disclaimer: The application captures some of the basic user information in order to suggest tips on monitoring health remotely.</i></p>
        </div>
        </div>

    </div>
</section>
<img src="assets/icons/chat-with-me.png" [routerLink]="['/home/chat']" class="chat-with-me-icon" />